body {
  font-family: "Century Gothic";
  background-color: #addddd
}

h2 {
  font-size: 45px;
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}

#social-buttons {
  padding-top: 30px;
}
